<div class="header">
  <nav style="height: 86px" class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/api/resources">PINsource</a>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">
          <a href="/">My Resources</a>
        </button>
        <button class="dropdown-item" type="button">
          <a href="/api/users/me">My Profile</a>
        </button>
        <button class="dropdown-item" type="button">
          <a href="/api/resources/new">New Post</a>
        </button>
        <button class="dropdown-item" type="button">
          <a href="/api/users/login">Login</a>
        </button>
        <button class="dropdown-item" type="button">
          <a href="/api/users/logout">Logout</a>
        </button>
      </div>
    </div>
  </nav>
</div>
