<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
    <i class="far fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-trash-alt"></i>
    <i class="fas fa-trash-alt"></i>
    <i class="far fa-edit"></i>
    <i class="fas fa-edit"></i>
    <i class="fas fa-arrow-up"></i>
    <i class="far fa-file"></i>
    <i class="fas fa-file"></i>
  </body>
</html>
