<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>PINsource - Add New Resource</title>
  </head>

  <body>
    <%-include("./partials/header") %>

    <div class="edit-post-container" style="margin: 120px">
      <div class="card" style="width: 60rem">
        <form class="card-body" action="/api/resources/new" method="POST">
          <content>
            <div>
              <i class="far fa-edit"></i>
              <input
                id="title-input"
                type="text"
                name="title"
                placeholder="Title"
              />
            </div>

            <div>
              <i class="far fa-edit"></i>
              <input
                id="description-input"
                type="text"
                name="description"
                placeholder="Description"
              />
            </div>

            <div>
              <i class="far fa-edit"></i>
              <input id="url-input" type="text" name="url" placeholder="URL" />
            </div>
          </content>
          <div class="picture-area">
            <select
              name="category_id"
              class="custom-select mr-sm-2 search-field"
            >
              <option selected value="">Categories...</option>
              <option value="1">Javascript</option>
              <option value="2">CSS</option>
              <option value="3">HTML</option>
              <option value="4">SQL</option>
            </select>

            <select
              name="content_type"
              class="custom-select mr-sm-2 search-field"
            >
              <option selected value="">Content Type...</option>
              <option value="Video">Video</option>
              <option value="Game">Game</option>
              <option value="Documentation">Documentation</option>
              <option value="Article">Article</option>
              <option value="Book">Book</option>
              <option value="Interactive sandbox">Interactive Sandbox</option>
              <option value="Online Course">Online Course</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
