<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PINsource - Add New Resource</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

  <!-- this is the new post section -->
  <%-include("./partials/header") %>

  <div class="card text-center">
    <div class="card-header"></div>

    <div class="card-body">
        <!-- <h4 class="card-title">What's good out there? </h4> -->
        <p class="card-text">
          <form class="form-inline" action="/api/resources/new" method="POST">
            <div class="form-group mb-2" style="margin: 0 auto">
              <label for="title">Title:</label>
                <input class="form-control" type="text" name="title" placeholder="title" style="width: 300px; margin: 1em">
              <label for="email">Category:</label>
                <input class="form-control" type="number" name="category_id" placeholder="3" style="width: 300px; margin: 1em">
                <label for="description">Description:</label>
                <input class="form-control" type="text" name="description" placeholder="Description of resource" style="width: 300px; margin: 1em">
                <label for="url">link:</label>
                <input class="form-control" type="text" name="url" placeholder="url" style="width: 300px; margin: 1em">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>

        </p>
      </div>
  <div class="card-footer text-muted"></div>
</div>
  </body>
  </html>
